<ion-content class="ion-padding">

  <form [formGroup]="fg">
    <ion-list lines="none">
      <ion-item lines="inset">
        <ion-label position="stacked">Apply with plan</ion-label>
        <ion-select formControlName="plan" value="1" interface="popover" placeholder="โปรดเลือก Plan"
          class="ion-margin-top">
          <ion-select-option value="1">ขั้นต่ำ</ion-select-option>
          <ion-select-option value="2">บ้านจัดสรร</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-searchbar mode="ios" animated placeholder="ค้นหาจากบ้านเลขที่"></ion-searchbar>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item mode="ios" *ngFor="let item of displayData; let i = index">
        <ion-checkbox color="primary" slot="start" checked="{{ item.plan == fg.value.plan }}" disabled="{{ isDisableCheck(i) }}"
          (ionChange)="onItemChange(i, $event)"></ion-checkbox>
        <ion-label>
          <h2>{{ item.title }}</h2>
          <h3>
            <ion-text color="medium">{{ item.address }}</ion-text>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onDismiss()" expand="block" fill="clear" shape="round" slot="end" color="medium">
      ยกเลิก
    </ion-button>
    <ion-button (click)="onSubmit()" expand="block" fill="clear" shape="round" slot="end">
      ตกลง
    </ion-button>
  </ion-toolbar>
</ion-footer>