<ion-content mode="ios">

  <app-header></app-header>

  <ion-breadcrumbs class="ion-padding">
    <ion-breadcrumb routerLink="/home">
      รายงาน
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/paid-detail">
      ชำระแล้ว
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>ชำระแล้ว ({{ totalAmountData }} รายการ)</ion-label>
    </ion-list-header>

    <ion-searchbar animated placeholder="ค้นหาจากบ้านเลขที่"></ion-searchbar>
    <ion-label class="ion-text-end ion-hide-lg-up" color="medium">
      <p>
        คลิกรายการ เพื่อดูรายละเอียดเพิ่มเติม
        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
      </p>
    </ion-label>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size-lg="6" size-xs="3">
            <ion-label><b>บ้านเลขที่</b></ion-label>
          </ion-col>
          <ion-col size-lg="2" size-xs="3">
            <ion-label class="ion-text-end"><b>วันที่ชำระล่าสุด</b></ion-label>
          </ion-col>
          <ion-col size-lg="2" size-xs="3">
            <ion-label class="ion-text-end"><b>วันที่ชำระครั้งถัดไป</b></ion-label>
          </ion-col>
          <ion-col size-lg="2" size-xs="3">
            <ion-label class="ion-text-end"><b>ชำระล่วงหน้า</b></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let item of dispalyData; let i = index" id="paid-detail-{{ (i+1) }}">
      <ion-grid>
        <ion-row>
          <ion-col size-lg="6" size-xs="3">
            <ion-label>
              {{ item.displayName }}
              <ion-text color="medium">
                <p>{{ item.fullAddress }}</p>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col size-lg="2" size-xs="3">
            <ion-label class="ion-text-end">
              {{ item.paymentInfo.lastedPaidDate }}
              <ion-text color="medium">
                <p>({{ item.paymentInfo.lastedPaidAmount }} <small>THB</small>)</p>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col size-lg="2" size-xs="3">
            <ion-label class="ion-text-end">
              {{ item.paymentInfo.nextPaidDate }}
              <ion-text color="medium">
                <p>({{ item.paymentInfo.nextPaidAmount }} <small>THB</small>)</p>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col size-lg="2" size-xs="3">
            <ion-label class="ion-text-end">
              {{ item.paymentInfo.totalPaidTimes }} เดือน
              <ion-text color="medium">
                <p>({{ item.paymentInfo.totalPaidAmount }} <small>THB</small>)</p>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-popover trigger="paid-detail-{{ (i+1) }}" reference="event" class="ion-hide-lg-up">
        <ng-template>
          <ion-content class="ion-padding">
            <h4>
              บ้านเลขที่<br>
              <ion-text color="medium">
                <small>
                  {{ item.displayName }}<br>
                  {{ item.fullAddress }}
                </small>
              </ion-text>
            </h4>

            <h4>
              วันที่ชำระล่าสุด<br>
              <ion-text color="medium">
                <small>
                  {{ item.paymentInfo.lastedPaidDate }} ({{ item.paymentInfo.lastedPaidAmount }} THB)
                </small>
              </ion-text>
            </h4>

            <h4>
              วันที่ชำระครั้งถัดไป<br>
              <ion-text color="medium">
                <small>
                  {{ item.paymentInfo.nextPaidDate }} ({{ item.paymentInfo.nextPaidAmount }} THB)
                </small>
              </ion-text>
            </h4>
            <h4>
              ชำระล่วงหน้า<br>
              <ion-text color="medium">
                <small>
                  {{ item.paymentInfo.totalPaidTimes }} เดือน ({{ item.paymentInfo.totalPaidAmount }} THB)
                </small>
              </ion-text>
            </h4>

          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="กำลังดึงข้อมูลเพิ่ม...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

</ion-content>