<ion-header>
  <ion-toolbar>
    <ion-title>สร้าง QR จ่ายเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>เขตเทศบาล</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="nes">ตำบลศิลา</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card-content class="table">
    <table>
      <tr>
        <th>รายการ</th>
        <th></th>
      </tr>
      <tr [routerLink]="['/qroption']">
        <td>7/5</td>
        <td><ion-icon name="arrow-forward"></ion-icon>
        </td>
      </tr>
      <tr [routerLink]="['/qroption']">
        <td>12/6</td>
        <td><ion-icon name="arrow-forward"></ion-icon>
        </td>
      </tr>
      <tr [routerLink]="['/qroption']">
        <td>7/2</td>
        <td><ion-icon name="arrow-forward"></ion-icon>
        </td>
      </tr>
    </table>
  </ion-card-content>

  <div>
    <ion-button expand="block" fill="clear" shape="round">
      seemore
    </ion-button>
  </div>
</ion-content>
