<ion-content mode="ios">

  <app-header></app-header>

  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>สร้างคิวอาร์โค้ดชำระเงิน</ion-label>
    </ion-list-header>

    <ion-searchbar animated placeholder="ค้นหาจากบ้านเลขที่" (ionChange)="onSearch($event)"></ion-searchbar>

    <ion-item lines="none">
      <ion-label><b>รายการทั้งหมด ({{ totalData.length }} รายการ)</b></ion-label>
    </ion-item>

    <ion-item button *ngFor="let item of dispalyData" (click)="onSelectItem(item)">
      <ion-label>
        {{ item.displayName }}
        <ion-text color="medium">
          <p>{{ item.fullAddress }}</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="กำลังดึงข้อมูลเพิ่ม...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

</ion-content>