<ion-content mode="ios">

  <app-header></app-header>

  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>สร้างคิวอาร์โค้ดชำระเงิน</ion-label>
    </ion-list-header>
    <ion-searchbar animated placeholder="ค้นหาจากบ้านเลขที่"></ion-searchbar>

    <ion-item lines="none">
      <ion-label><b>บ้านเลขที่</b></ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        พิมานคอนโดปาร์ค
        <ion-text color="medium">
          <p>989/27 ตำบล ศิลา อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        พิมานคอนโดปาร์ค
        <ion-text color="medium">
          <p>12/6 หมู่ 27 ตำบล ศิลา อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        บ้านเดี่ยว
        <ion-text color="medium">
          <p>919/2 หมู่ 27 ตำบล ในเมือง อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        บ้านทาวเฮาท์
        <ion-text color="medium">
          <p>90/55 หมู่ 27 ตำบล กุดกว้าง อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        บ้านเดี่ยว
        <ion-text color="medium">
          <p>123/6 หมู่ 27 ตำบล กุดกว้าง อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        บ้านเดี่ยว
        <ion-text color="medium">
          <p>44/12 หมู่ 6 ตำบล น้ำพอง อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        บ้านเดี่ยว
        <ion-text color="medium">
          <p>89/20 หมู่ 10 ตำบล บ้านเป็ด อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item button routerLink="/qroption">
      <ion-label>
        บ้านเดี่ยว
        <ion-text color="medium">
          <p>56/9 หมู่ 18 ตำบล ในเมือง อำเภอเมืองขอนแก่น 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-item class="ion-text-center ion-no-margin" lines="none">
    <ion-label color="primary">See More</ion-label>
  </ion-item>

</ion-content>