<ion-content mode="ios">

  <app-header></app-header>

  <ion-breadcrumbs class="ion-padding">
    <ion-breadcrumb *ngFor="let item of navigations" [routerLink]="item.url">
      {{ item.text }}
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/qroption">
      ช่องทางการชำระเงิน
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ng-container *ngIf="data">

    <ion-list class="ion-padding">
      <ion-list-header>
        <ion-label>ข้อมูลที่อยู่</ion-label>
      </ion-list-header>

      <ion-card color="tertiary" class="border-radius">
        <ion-card-content>
          {{ data.displayName }}
          <ion-text color="medium">
            <p>{{ data.fullAddress }}</p>
          </ion-text>

          <ion-grid class="ion-no-padding ion-padding-top">
            <ion-row>
              <ion-col size-lg="3" size-xs="6">
                วันที่ชำระล่าสุด
                <ion-text color="medium">
                  <p *ngIf="data.payment && data.payment.lastedPaid">
                    {{ data.payment.lastedPaid.localDate }} ({{ data.payment.lastedPaid.amount }} <small>THB</small>)
                  </p>
                  <p *ngIf="!(data.payment && data.payment.lastedPaid)">
                    -
                  </p>
                </ion-text>
              </ion-col>
              <ion-col size-lg="9" size-xs="6">
                วันที่ชำระครั้งถัดไป
                <ion-text color="medium">
                  <p *ngIf="data.payment && data.payment.nextPay">
                    {{ data.payment.nextPay.localDate }} ({{ data.payment.nextPay.amount }} <small>THB</small>)
                  </p>
                  <p *ngIf="!(data.payment && data.payment.nextPay)">
                    -
                  </p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="ion-no-padding ion-padding-top">
            <ion-row>
              <ion-col size="12" *ngIf="data.payment && data.payment.extend && data.payment.extend.status != 0">
                <ion-label *ngIf="data.payment.extend.status == 1">ชำระล่วงหน้า</ion-label>
                <ion-label *ngIf="data.payment.extend.status == 2">ค้างชำระ</ion-label>
                <ion-text color="medium">
                  <p>
                    {{ data.payment.extend.info.times }} เดือน ( {{ data.payment.extend.info.amount }}
                    <small>THB</small>) <br>
                    <ion-label *ngIf="data.payment.extend.status == 1">ถึง</ion-label>
                    <ion-label *ngIf="data.payment.extend.status == 2">ตั้งแต่</ion-label>
                    {{ data.payment.extend.info.localDate }}
                  </p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>

    </ion-list>

    <ion-list class="ion-padding">
      <ion-list-header>
        <ion-label>เลือกช่องทางการชำระเงิน</ion-label>
      </ion-list-header>

      <ion-item *ngIf="data.payment && data.payment.extend && data.payment.extend.status == 2">
        <ion-label>
          <h2><b>ค้างชำระทั้งหมด</b></h2>
          <ion-text color="medium">
            <p>{{ data.payment.extend.info.amount }} <small>THB</small></p>
          </ion-text>
        </ion-label>
        <ion-button class="no-shadow ion-no-margin" mode="md" color="danger" shape="round" slot="end" size="default"
          (click)="onSelectPay(data.payment.extend.info.amount)">
          <ion-label class="ion-margin">เลือก</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2><b>รายเดือน</b></h2>
          <ion-text color="medium">
            <p>50 <small>THB</small></p>
          </ion-text>
        </ion-label>
        <ion-button class="no-shadow ion-no-margin" mode="md" color="danger" shape="round" slot="end" size="default"
          (click)="onSelectPay(50)">
          <ion-label class="ion-margin">เลือก</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2><b>รายปี</b></h2>
          <ion-text color="medium">
            <p>600 <small>THB</small></p>
          </ion-text>
        </ion-label>
        <ion-button class="no-shadow ion-no-margin" mode="md" color="danger" shape="round" slot="end" size="default"
          (click)="onSelectPay(600)">
          <ion-label class="ion-margin">เลือก</ion-label>
        </ion-button>
      </ion-item>

    </ion-list>

  </ng-container>
  <ng-container *ngIf="!data">

    <ion-card class="ion-text-center">
      <ion-card-content>
        <h1>ไม่พบข้อมูลครัวเรือน</h1>
        <p>กรุณาตรวจสอบใหม่อีกครั้ง</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>