<ion-content mode="ios">

  <app-header></app-header>

  <ion-breadcrumbs class="ion-padding">
    <ion-breadcrumb routerLink="/home">
      รายงาน
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/report-pdf">
      PDF
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-list class="ion-padding" lines="none">
    <ion-list-header>
      <ion-label>รายงาน PDF ทั้งหมด</ion-label>
    </ion-list-header>

    <ol>
      
      <li>
        <ion-card>
          <ion-card-content class="ion-padding-top ion-padding-bottom">
            <a href="/assets/files/แบบรายงานผลการจัดเก็บค่าทำเนียมสิ่งปฏิกูลและไขมัน_ตัวอย่าง.pdf" target="_blank">
              <ion-label>แบบรายงานผลการจัดเก็บค่าทำเนียมสิ่งปฏิกูลและไขมัน</ion-label>
            </a>
          </ion-card-content>
        </ion-card>
      </li>

      <li>
        <ion-card>
          <ion-card-content class="ion-padding-top ion-padding-bottom">
            <a href="/assets/files/แบบรายงานผลการจัดเก็บค่าธรรมเนียมการจัดการขยะมูลฝอย_ตัวอย่าง.pdf" target="_blank">
              <ion-label>แบบรายงานผลการจัดเก็บค่าธรรมเนียมการจัดการขยะมูลฝอย</ion-label>
            </a>
          </ion-card-content>
        </ion-card>
      </li>

      <li>
        <ion-card>
          <ion-card-content class="ion-padding-top ion-padding-bottom">
            <a href="/assets/files/แบบสรุปฐานข้อมูลจำนวนหลังคาเรือนในการจัดเก็บค่าธรรมเนียมการจัดการขยะมูลฝอย.pdf"
              target="_blank">
              <ion-label>แบบสรุปฐานข้อมูลจำนวนหลังคาเรือนในการจัดเก็บค่าธรรมเนียมการจัดการขยะมูลฝอย</ion-label>
            </a>
          </ion-card-content>
        </ion-card>
      </li>

    </ol>

  </ion-list>

</ion-content>