<ion-content class="ion-padding">

  <ion-breadcrumbs>
    <ion-breadcrumb routerLink="/manage">
      manage
    </ion-breadcrumb>
    <ion-breadcrumb>
      setup plan
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-item class="ion-no-padding" lines="none">
    <ion-label>
      <h3><b>รายการอัตราการชำระเงินทั้งหมด</b></h3>
    </ion-label>
    <ion-button class="no-shadow ion-no-margin" mode="md" color="primary" size="default" shape="round"
      (click)="openAddPayment()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of data" mode="ios" button (click)="openEditPayment(item)">
      <ion-label>{{ item.displayName }}</ion-label>
      <ion-label color="medium" slot="end">
        รายเดือน: {{ item.payPerMonth }} (+ {{ item.feePerMonth }})<br>
        รายปี: {{ item.payPerYear }} (+ {{ item.feePerYear }})
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>