<ion-content mode="ios">

  <app-header></app-header>

  <ion-breadcrumbs class="ion-padding">
    <ion-breadcrumb routerLink="/qr">
      สร้างคิวอาร์โค้ดชำระเงิน
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/qroption">
      ช่องทางการชำระเงิน
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/qrgenerate">
      คิวอาร์โค้ดชำระเงิน
    </ion-breadcrumb>
  </ion-breadcrumbs>


  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>ข้อมูลที่อยู่</ion-label>
    </ion-list-header>

    <ion-card color="tertiary">
      <ion-card-content class="ion-no-padding">
        <ion-item color="tertiary" lines="full">
          <ion-label>
            พิมานคอนโดปาร์ค
            <ion-text color="medium">
              <p>90/55 หมู่ 27 ตำบล กุดกว้าง อำเภอเมืองขอนแก่น 40000</p>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="tertiary" lines="none">
          <ion-label>
            ชำระล่วงหน้า
            <ion-text color="medium">
              <p>-</p>
            </ion-text>
          </ion-label>

          <ion-label>
            ค้างชำระ
            <ion-text color="medium">
              <p>7 เดือน (350 <small>THB</small>)</p>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="tertiary" lines="none">
          <ion-label>
            วันที่ชำระล่าสุด
            <ion-text color="medium">
              <p>4 มีนาคม 2564 (50 <small>THB</small>)</p>
            </ion-text>
          </ion-label>

          <ion-label>
            วันที่ชำระครั้งถัดไป
            <ion-text color="medium">
              <p>1 พฤษภาคม 2564 (50 <small>THB</small>)</p>
            </ion-text>
          </ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-list class="ion-padding" lines="none">
    <ion-item class="ion-text-center" id="payment-qr-content">
      <ion-label>
        <ion-label><b>QR mana promptpay</b></ion-label>
        <img src="assets/imgs/qr.png" routerLink="/payment-result">
        <ion-label>จำนวนเงิน</ion-label>
        <ion-label color="danger">
          <h1><b>50.00 <small>THB</small></b></h1>
        </ion-label>
        <ion-label>(จ่ายด้วย mana เหลือ 40 <small>THB</small>)</ion-label>
      </ion-label>
    </ion-item>
    <ion-card class="ion-text-center">
      <ion-button fill="clear" shape="round" size="default" (click)="onSelectDownload()">
        <ion-icon name="download-outline"></ion-icon>
        <ion-text class="ion-padding-start">บันทึกรูป</ion-text>
      </ion-button>
      <ion-button fill="clear" shape="round" size="default" (click)="onSelectShare()">
        <ion-icon name="share-outline"></ion-icon>
        <ion-text class="ion-padding-start">แชร์</ion-text>
      </ion-button>
    </ion-card>
    <ion-card class="ion-padding ion-text-center">
      <p>สแกน QR นี้เพื่อจ่ายเงินหรือกดบันทึกรูปเพื่อนำ QR ไปใช้ยัง Mobile banking</p>
    </ion-card>
  </ion-list>

</ion-content>