<ion-content mode="ios">

  <app-header></app-header>

  <ion-breadcrumbs class="ion-padding">
    <ion-breadcrumb *ngFor="let item of navigations" (click)="onSelectRoute(item)">
      {{ item.text }}
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/qrgenerate">
      คิวอาร์โค้ดชำระเงิน
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>ข้อมูลที่อยู่</ion-label>
    </ion-list-header>

    <ion-card color="tertiary" class="border-radius">
      <ion-card-content>
        {{ data.displayName }}
        <ion-text color="medium">
          <p>{{ data.fullAddress }}</p>
        </ion-text>

        <ion-grid class="ion-no-padding ion-padding-top">
          <ion-row>
            <ion-col size-lg="3" size-xs="6">
              วันที่ชำระล่าสุด
              <ion-text color="medium">
                <p *ngIf="data.payment && data.payment.lastedPaid">
                  {{ data.payment.lastedPaid.localDate }} ({{ data.payment.lastedPaid.amount }} <small>THB</small>)
                </p>
                <p *ngIf="!(data.payment && data.payment.lastedPaid)">
                  -
                </p>
              </ion-text>
            </ion-col>
            <ion-col size-lg="9" size-xs="6">
              วันที่ชำระครั้งถัดไป
              <ion-text color="medium">
                <p *ngIf="data.payment && data.payment.nextPay">
                  {{ data.payment.nextPay.localDate }} ({{ data.payment.nextPay.amount }} <small>THB</small>)
                </p>
                <p *ngIf="!(data.payment && data.payment.nextPay)">
                  -
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="ion-no-padding ion-padding-top">
          <ion-row>
            <ion-col size="12" *ngIf="data.payment && data.payment.extend && data.payment.extend.status != 0">
              <ion-label *ngIf="data.payment.extend.status == 1">ชำระล่วงหน้า</ion-label>
              <ion-label *ngIf="data.payment.extend.status == 2">ค้างชำระ</ion-label>
              <ion-text color="medium">
                <p>
                  {{ data.payment.extend.info.times }} เดือน ( {{ data.payment.extend.info.amount }}
                  <small>THB</small>) <br>
                  <ion-label *ngIf="data.payment.extend.status == 1">ถึง</ion-label>
                  <ion-label *ngIf="data.payment.extend.status == 2">ตั้งแต่</ion-label>
                  {{ data.payment.extend.info.localDate }}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-list class="ion-padding" lines="none">
    <ion-item class="ion-text-center" id="payment-qr-content">
      <ion-label>
        <ion-label><b>QR mana promptpay</b></ion-label>
        <img src="assets/imgs/qr.png">
        <ion-label>จำนวนเงิน</ion-label>
        <ion-label color="danger">
          <h1><b>{{ amount }}.00 <small>THB</small></b></h1>
        </ion-label>
        <ion-label>(จ่ายด้วย mana เหลือ {{ (amount-10)}} <small>THB</small>)</ion-label>
      </ion-label>
    </ion-item>
    <ion-card class="ion-text-center">
      <ion-button fill="clear" shape="round" size="default">
        <ion-icon name="download-outline"></ion-icon>
        <ion-text class="ion-padding-start">บันทึกรูป</ion-text>
      </ion-button>
      <ion-button fill="clear" shape="round" size="default">
        <ion-icon name="share-outline"></ion-icon>
        <ion-text class="ion-padding-start">แชร์</ion-text>
      </ion-button>
    </ion-card>
    <ion-card class="ion-padding ion-text-center">
      <p>สแกน QR นี้เพื่อจ่ายเงินหรือกดบันทึกรูปเพื่อนำ QR ไปใช้ยัง Mobile banking</p>
    </ion-card>
  </ion-list>

</ion-content>