ion-grid {
    height: 100%;
    transform: translateY(-25px);
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

img {
    border-radius: 5em;
}