<ion-header>
  <ion-toolbar>
    <ion-title>จัดการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-button shape="round">
    <ion-label>เพิ่ม
      <ion-icon name="add-outline"></ion-icon>
    </ion-label>
  </ion-button>
</div>
<div>
  <input type="file" name="photo" />
  <ion-button shape="round">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</div>


  <ion-card-content class="table">
    <table>
      <tr>
        <th>รายการ</th>
        <th>แก้ไข</th>
        <th>ลบ</th>
      </tr>
      <tr>
        <td>7/5</td>
        <td>
          <ion-button shape="round">
            <ion-label>
              <ion-icon name="build-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
        <td>
          <ion-button shape="round" color="danger">
            <ion-label>
              <ion-icon name="close-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
      </tr>
      <tr>
        <td>12/6</td>
        <td>
          <ion-button shape="round">
            <ion-label>
              <ion-icon name="build-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
        <td>
          <ion-button shape="round" color="danger">
            <ion-label>
              <ion-icon name="close-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
      </tr>
      <tr>
        <td>7/2</td>
        <td>
          <ion-button shape="round">
            <ion-label>
              <ion-icon name="build-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
        <td>
          <ion-button shape="round" color="danger">
            <ion-label>
              <ion-icon name="close-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
      </tr>
      <tr>
        <td>7/1</td>
        <td>
          <ion-button shape="round" >
            <ion-label>
              <ion-icon name="build-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
        <td>
          <ion-button shape="round" color="danger">
            <ion-label>
              <ion-icon name="close-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
      </tr>
      <tr>
        <td>919/3</td>
        <td>
          <ion-button shape="round">
            <ion-label>
              <ion-icon name="build-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
        <td>
          <ion-button shape="round" color="danger">
            <ion-label>
              <ion-icon name="close-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
      </tr>
      <tr>
        <td>989</td>
        <td>
          <ion-button shape="round">
            <ion-label>
              <ion-icon name="build-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
        <td>
          <ion-button shape="round" color="danger">
            <ion-label>
              <ion-icon name="close-outline"></ion-icon>
            </ion-label>
          </ion-button>
        </td>
      </tr>
    </table>
  </ion-card-content>
</ion-content>