<ion-header>
  <ion-toolbar>
    <ion-title>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="open-modal">เลือก วันที่</ion-button>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-label>{{ date | date:'d/M/yyy' }}</ion-label>


  <div class="ion-text-center">
    <img src="../../assets/5e9d4a73620ef-300x300.png" alt="">
    <!-- <img src="../../assets/1200px-Pushkin_population_history.svg.png" alt=""> -->
  </div>

  <ion-list class="ion-text-center">
    <ion-row [routerLink]="['/paid-detail']">
      <ion-col size="2">
      </ion-col>
      <ion-col size="4">
        <ion-label>ชำระแล้ว</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>68 %
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row [routerLink]="['/overdue-detail']">
      <ion-col size="2">
      </ion-col>
      <ion-col size="4">
        <ion-label>ค้างชำระ</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>32 %
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>