<ion-content mode="ios">

  <app-header></app-header>

  <ion-card class="ion-text-center ion-padding">
    <ion-card-header class="ion-text-start">
      <ion-card-title>สัดส่วนการชำระเงิน</ion-card-title>
      <ion-card-subtitle>กราฟภาพรวมการชำระเงินทั้งหมดของทุกปี</ion-card-subtitle>
    </ion-card-header>
    <img src="/assets/imgs/pie-chart.png" alt="graph-overview">
    <ion-card-content>
      <a routerLink="/payment-bargraph">ดูรายละเอียดรายปีหรือรายเดือน</a>
    </ion-card-content>
  </ion-card>

  <ion-list class="ion-text-center ion-padding">
    <ion-item button routerLink="/paid-detail">
      <ion-label>ชำระแล้ว</ion-label>
      <ion-note slot="end">32 %</ion-note>
    </ion-item>
    <ion-item button routerLink="/overdue-detail">
      <ion-label>ค้างชำระ</ion-label>
      <ion-note slot="end">68 %</ion-note>
    </ion-item>

  </ion-list>


</ion-content>