<ion-header>
  <ion-toolbar>
    <ion-title>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button routerLink="/qr" shape="round">QR</ion-button>
  <ion-button routerLink="/manage" shape="round">Manage</ion-button>
  <br>

  <!-- <ion-button id="open-modal">เลือก วันที่</ion-button>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-label>{{ date | date:'d/M/yyy' }}</ion-label> -->

  <div class="ion-text-center" routerLink="/payment-bargraph">
    <img src="/assets/imgs/pie-chart.png">
  </div>

  <ion-list class="ion-text-center ion-padding">

    <ion-item mode="ios" button routerLink="/paid-detail">
      <ion-label>ชำระแล้ว</ion-label>
      <ion-label>32 %</ion-label>
    </ion-item>
    <ion-item mode="ios" button routerLink="/overdue-detail">
      <ion-label>ค้างชำระ</ion-label>
      <ion-label>68 %</ion-label>
    </ion-item>

  </ion-list>


</ion-content>